body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  input {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #00ba28;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #460080;
  }

 #calculator {
    text-align: center;
 } 
  